body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
}

.title {
    font-size: 24px;
    color: #2a3d7d;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

strong{
    font-size: 20px;
}

.description {
    font-size: 16px;
    color: #444;
    line-height: 1.8;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.description p {
    font-weight: bold;
    
    margin-bottom: 10px;
}

.description ul {
    padding-left: 50px;
    list-style-type: disc;
    color: #555;
    text-align: left;
}

.description li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.description ul li::marker {
    color: #2a3d7d;
}

li h3 {
    font-size: 25px;
    color: #2a3d7d; 
    margin: 15px;
    font-weight: bold;
}

li p {
    font-size: 14px;
    color: #555;
    margin: 15px;
}


.container {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 20px auto;
}

.task-column {
    border: 2px dashed #ddd;
    padding: 20px;
    width: 105%;
    margin: 50px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.task-column h2 {
    color: #2a3d7d;
    margin-bottom: 10px;
}

.container ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    
    
}


button {
    margin-bottom: 15px;
    margin: 15px;
    padding: 8px 12px;
    background-color: #2a3d7d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1f2d5a;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .task-column {
        width: 90%;
        margin: 10px auto;
    }
}

.task-form-container {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
}

.task-form-container label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.task-form-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-form-container button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}
#myButton {
    display: block;
    margin: 20px auto;
}
